/* COLOR PALETTE */
:root {
    --dark-color: #0a0a0a;
    --light-color: #FFFFFF;
    --accent-dark: #252859;
    --accent-light: #4C48D9;
    --accent-ultra-light: #AD8DF2;
    --highlight: #F0F287;
}   

/* LAZY RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/* BACKGROUND STYLING */
html {
  background-color: #0a0a0a;
  background-image: url(../images/starry-bg.png);
  height: 100%;
  background-size: fill;
}

header,
.about,
#camp,
.search {
  background: rgba(0,0,0,70%);
}

/* MAIN STYLING */

main {
  display: flex;
  align-items: center;
}

/* HEADER STYLING */

header {
  display: flex;
  justify-content: center;
  border: 3px solid var(--accent-light);
  border-radius: 38px;
  margin: 1%;
  background-color: var(--dark-color);
  z-index: 0;
}

#ham-btn {
  display: none;
  font-size: 48px;
}

/* SEARCH SECTION STYLING */

.search {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 2px solid var(--highlight);
  border-radius: 20px;
  padding: 5%;
  display: flexbox;
  
}

.field {
  display: block;
  font-size: 175%;
  font-weight: bold;
  font-variant: small-caps;
}

input {
  width: 100%;
  padding: 2%;
  border-radius: 30px;
}

#search-btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 20px;
  font-weight: bold;
  padding: 2%;
  border-style: none;
  border-radius: 20px;
  background-color: var(--highlight);
  color: var(--dark-color);
  transition: all .35s ease;
  font-weight: 500;
}

#search-btn:hover {
  background-color: var(--accent-dark);
  color: var(--light-color)
}

label,
.card,
button {
  font-family: Quicksand, sans-serif;
}

label {
  font-weight: 500;
}

/* TOGGLE BUTTON STYLING */

#toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button#fav-toggle,
button#res-toggle { 
  width: 45%;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 22px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 3px solid var(--accent-light);
  border-radius: 12px;
  justify-content: center;
}

button#fav-toggle span,
button#res-toggle span {
  pointer-events: none;
  text-align: center;
  transform: translateX(-5%);
}

.checked span.icon {
  color: var(--highlight);
  font-variation-settings: 'FILL' 100;
}

/* RESULT CARD STYLING */

.card {
  margin: 2% .5%;
  background-color: var(--accent-dark);
  border: 2px solid var(--accent-ultra-light);
  color: var(--light-color);
  padding: 5px;
}

.card h3 {
  font-size: 20px;
  font-weight: 400;
  pointer-events: none;
}

.card:hover {
  transform: scale(1.025,1.025);
  transition: all .25s ease;
}

/* CAMPGROUND INFO SECTION */

#camp {
  background-color: var(--dark-color);
  border: 3px solid var(--accent-ultra-light);
  border-radius: 20px;
  color: var(--light-color);
}

#camp h2 {
  font-size: 250%;
  padding: 20px;
  font-family: "Josefin Sans",sans-serif;
  font-weight: 300;
}

#camp span.icon button span {
  text-align: center;
  margin-top: 15px;
  font-size: 40px;
  font-variation-settings: 'PSZ' 48;
}

.chart-container {
  margin: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

/* INFO ASIDE SECTION */

#info {
  font-family: Quicksand, sans-serif;
  padding-bottom: 20px;
}

#info h3 {
  font-size: 175%;
}

/* The New Tab Icon */
#info span.icon span {
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  padding-left: 10px;
}

#info ul li {
  list-style-type: none;
}

/* ABOUT SECTION STYLING */

.about {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 3px solid var(--accent-ultra-light);
  border-radius: 20px;
  text-align: center;
}

.about h2 {
  font-family: "Josefin Sans",sans-serif;
  font-weight: 300;
  padding: 2%;
  display: block;
  justify-content: center;
  font-size: 250%;
  font-variant: small-caps;
}

.about img {
  height: auto;
  width: 25rem;
  padding: 0 3%;
}

.about p {
  padding: 3%;
  font-size: 100%;
}

/* FAVORITE BUTTON STYLING */

.fav-btn-unchecked {
  color: var(--accent-ultra-light);
  transition: all .35s ease;
}

.fav-btn-checked,
.fav-btn-unchecked:hover {
  color: var(--highlight);
}

.fav-btn-unchecked,
.fav-btn-checked {
  border: 0px;
  background-color: #00000000;
  display: inline;
}

.fav-btn-checked span,
.fav-btn-unchecked span {
  pointer-events: none;
}

.fav-btn-checked span {
  font-variation-settings: 'FILL' 100;
  color: var(--highlight-color);
}

/**
* SCREEN RESPONSIVENESS 
*/

@media screen and (max-width: 1216px) {
  #toggle-container {
    flex-direction: column;
    align-items: center;
  }
  button#fav-toggle,
  button#res-toggle {
    width: 90%;
    margin-bottom: 10px;
  }
}

/* 992px */
@media screen and (max-width: 1024px) {
  #camp h2 {
    font-size: 28px;
  }
  #camp span.icon button span {
    font-size: 30px;
  }
  #info-list,
  #info h3 {
    padding-left: 20px;
  }
}

/**
* 768px
* Hamburger Button is not visible until now
*/

@media screen and (max-width: 768px) {
  header img {
    width: 250px;
  }
  #ham-btn {
    display: inline;
    position: absolute;
    color: var(--highlight);
    top: 20px;
  }
  #info span.icon span {
    margin-top: 20px;
    padding: 0px;
    padding-left: 10px;
  }
}